* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.dark-mode {
  background-color: #212121;
  color: #ffffff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  background-color: #f5f5f5;
  color: #000000;
}

#dark-mode-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.message {
  background-color: #f5f5f5;
  padding: 20px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  animation: slideDown 0.5s ease-in-out forwards, slideUp 1s ease-in-out 3s forwards;
  border-radius: 10px;
  z-index: 1000;
  color: black;
}

div.failure {
  border: 2px solid #ff0000;
  color: #ff0000;
}

div.success {
  border: 2px solid #129112;
  color: #129112;
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -100px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}
.sidebar {
  width: 15%;
}
.sidebar span {
  margin-left: 10px;
}
.sidebar * :not(.active) {
  color: black;
}
.sidebar.dark-mode {
  color: white;
  background-color: #212121;
}
.sidebar.dark-mode * :not(.active) {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  gap: 10px;
  margin-top: 50px;
}

.account-left,
.account-right {
  width: 24%;
  text-align: center;
}

h2 {
  font-size: 32px;
  width: 100%;
}
h2 span {
  width: 100%;
}

form {
  margin-top: 20px;
}
form > * {
  margin: 10px;
  padding: 15px;
}
form input {
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
}

label {
  position: absolute;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

button {
  color: white;
  cursor: pointer;
  background-color: rgba(10, 0, 120, 0.73);
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
button :hover {
  background-color: rgb(0, 0, 120);
}

.account-left img {
  margin-bottom: 0;
}

.account-right img {
  margin-bottom: 22px;
}
.account-right button {
  color: black;
  background-color: rgb(255, 136, 0);
}
.account-right button :hover {
  background-color: rgb(237, 126, 0);
}

footer {
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer a {
  color: black;
  text-decoration: none;
}
footer.dark-mode ul li a {
  color: #ffffff;
}

input.dark-mode {
  border: 1px solid #808080;
}

label.dark-mode {
  background: none;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding-bottom: 30px;
  }
  #dark-mode-button {
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar {
    position: relative;
    top: 30px;
    width: 100%;
  }
  .sidebar span {
    display: none;
  }
  .sidebar li a {
    padding: 50px 10px;
    text-align: center;
    font-size: 24px;
  }
  .accounts {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
  }
  .accounts .account-left,
  .accounts .account-right {
    margin-top: 50px;
    width: 100%;
  }
  .accounts .account-left button,
  .accounts .account-right button {
    margin: 0 auto;
    display: block;
  }
  label {
    transform: translate(-10px, -18px) scale(0.7);
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */